@{
    ViewBag.Title = "Help";
}
@Styles.Render("~/Content/Site.css")
<div class="f">
	<h1>@ViewBag.Title</h1>

	<div class="d">
		<div class="table-div">
			<h3 style="margin-top: 0;">Exercise Generator</h3>

			<table>
				<thead>
					<tr><th style="width: 40%;">Number of roots</th><th style="width: 60%;">Example</th></tr>
				</thead>
				<tbody>
					<tr><td>0</td><td>"NOROOTS"</td></tr>
					<tr><td>1</td><td>"x"</td></tr>
					<tr><td>2</td><td>"x1 x2" OR "x2 x1"</td></tr>
					<tr><td>Infinity</td><td>"INFINITY"</td></tr>
				</tbody>
			</table>
		</div>
		@*<div class="table-div">
			<h3>Check Yourself</h3>

			<table>
				<thead>
					<tr><th style="width: 40%;">Number of roots</th><th style="width: 60%;">Example</th></tr>
				</thead>
				<tbody>
					<tr><td>0</td><td>"NOROOTS"</td></tr>
					<tr><td>1</td><td>"x"</td></tr>
					<tr><td>2</td><td>"x1 x2" OR "x2 x1"</td></tr>
					<tr><td>Infinity</td><td>"INFINITY"</td></tr>
				</tbody>
			</table>
		</div>*@
		
	</div>
</div>

