
@{
    ViewBag.Title = "TeacherTools";
}

@Styles.Render("~/Content/Site.css")
<div class="f">
	<h1>@ViewBag.Title</h1>
	<div class="d">
		@Html.ActionLink("Add tests", "", "");
		@Html.ActionLink("Results", "", "");
	</div>
</div>


